@page "/campaigns/multibrands"
@using Microsoft.EntityFrameworkCore
@using OCD.Data
@using OCD.Models
@using OCD.Services
@using OCD.Services.CampaignRequestService
@inherits OwningComponentBase<ICampaignRequestService>
@inject IDbContextFactory<DataContext> DbContextFactory
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IEmailService EmailService
<AuthorizeView Roles="Ops">
    <Authorized>
        <div class="mb-3 d-flex align-items-center">
        </div>
        <MudDataGrid Class="shadow-md rounded-lg border grid mt-7" Items="@Campaigns" HorizontalScrollbar="true" Hover="true" Striped="true" RowsPerPageOptions="new int[] { 10, 25, 50, 100 }" FixedHeader="true" Height="65vh" RowsPerPage="10" Style="background-color:white;">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Multibrand Campaigns</MudText>
                <MudSpacer />
                @* <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField> *@
            </ToolBarContent>
            <Columns>
                <PropertyColumn Property="x => x.Id" Title="Campaign Id" HeaderStyle="white-space:nowrap" />
                <TemplateColumn Title="Owner" HeaderStyle="white-space:nowrap">
                    <CellTemplate Context="_context">
                        <MudStack Row>
                            <MudText Style="font-size:14px">@Requester.Name @Requester.Surname</MudText>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="x=>x.RequestedDate.Date.ToShortDateString()" Title="Date Requested" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x => x.Description" Title="Description" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x => x.SysAidLog" Title="SysAid Log" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" Filterable="true" />
                <PropertyColumn Property="x=> x.TrackingCode" Title="VDN/TC" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.Campaign.Name" Title="Campaign Type" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=>x.BusinessUnit.UnitName" Title="Business Unit" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x => x.CampaignRequestBrands" Title="Brand" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.CampaignBrokerCodes" Title="Broker Code" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.ConnexDiallerCampaign.Name" Title="Dialler Campaign" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.ConnexDiallerSource.Name" Title="Dialler Source" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.CommunicationType.Name" Title="Telecom Type" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.SmsNumber" Title="SMS Number" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.SharecallNumber" Title="SCN Number" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.Media.Name" Title="Media" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.Slot.Name" Title="Slot" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.SourceBreak.Name" Title="Source Break" HeaderStyle="white-space:nowrap" />
                @* <PropertyColumn Property="x=> x.PackType.Type" Title="Pack" HeaderStyle="white-space:nowrap" /> *@
                <PropertyColumn Property="x=> x.Publication.Name" Title="Publication" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.PublicationOwner.Name" Title="Publication Owner" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x=> x.Channel.Name" Title="Channel" HeaderStyle="white-space:nowrap" />

                <PropertyColumn Property="x => x.StartDate!.Value.Date.ToShortDateString()" Title="Start Date" HeaderStyle="white-space:nowrap" />
                <PropertyColumn Property="x => x.EndDate!.Value.Date.ToShortDateString()" Title="End Date" HeaderStyle="white-space:nowrap" />

                <TemplateColumn CellClass=" justify-end" HeaderStyle="white-space:nowrap">
                    <CellTemplate Context="_context">
                        <MudStack Row>
                            <MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="@Variant.Filled" Color="Color.Primary" Size="@Size.Small" OnClick="@(() => EditCampaign(_context.Item))">Edit</MudButton>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn CellClass=" justify-end" HeaderStyle="white-space:nowrap">
                    <CellTemplate Context="_context">
                        <MudStack Row>
                            <MudButton Disabled="(_context.Item.IsActive || !_context.Item.IsConfirmedByRequester)" StartIcon="@Icons.Material.Filled.NotStarted" Variant="@Variant.Filled" Color="Color.Success" Size="@Size.Small" OnClick="@(async () => await ActivateCampaignRequest(_context.Item))">Activate</MudButton>
                            @if (_itemLoadingState.GetValueOrDefault(_context.Item.Id, false))
                            {
                                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                            }
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn CellClass=" justify-end" HeaderStyle="white-space:nowrap">
                    <CellTemplate Context="_context">
                        <MudStack Row>
                            <MudButton StartIcon="@Icons.Material.Filled.AddComment" Variant="@Variant.Filled" Color="Color.Info" Size="@Size.Small" OnClick="() => OpenCommentModal(_context.Item.Id)">Add Comment</MudButton>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn CellClass=" justify-end" HeaderStyle="white-space:nowrap">
                    <CellTemplate Context="_context">
                        <MudStack Row>
                            <MudButton StartIcon="@Icons.Material.Filled.Preview" Variant="@Variant.Filled" Color="Color.Info" Size="@Size.Small" OnClick="() => ViewComments(_context.Item.Id)">View Comment(s)</MudButton>
                        </MudStack>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager />
            </PagerContent>
        </MudDataGrid>
    </Authorized>
    <NotAuthorized>
        <MudAlert Severity="Severity.Error">You are not authorized to view this page.</MudAlert>
    </NotAuthorized>
</AuthorizeView>

@code {
 
    private string searchString = string.Empty;
    private CampaignRequest selectedCampaign = null;
    private ApplicationUser Requester = new();
    private ApplicationUser RequestersManager = new();
    private string SysAidLog = string.Empty;
    private string BusinessUnit = string.Empty;
    private string CampaignType = string.Empty;
    private string CampaignStatus = string.Empty;
    private string Description = string.Empty;
    private int CampaignRequestId;
    private string LoggedInUserFullName = string.Empty;
    private string RequesterEmail = string.Empty;
    private string RequestersManagersEmail = string.Empty;
    private Dictionary<int, bool> _itemLoadingState = new();
    private IEnumerable<ApplicationUser> Requesters { get; set; }
    [Inject]
    private NavigationManager NavigationManager { get; set; }
    private IEnumerable<CampaignRequest> ListCampaigns { get; set; }
    private IEnumerable<CampaignRequest> Campaigns { get; set; }
    private IEnumerable<CampaignRequest> FilteredCampaigns
    {
        get
        {
            if (string.IsNullOrEmpty(searchString))
            {
                return Campaigns;
            }

            var filtered = Campaigns.Where(c => c.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase) ||
                                                c.TrackingCode.Contains(searchString, StringComparison.OrdinalIgnoreCase));

            var mainIds = filtered.Select(c => c.Id).ToList();
            var children = Campaigns.Where(c => mainIds.Contains(c.CampaignRequestMainId ?? 0));

            return filtered.Concat(children).Distinct();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await Service.GetMultibrandCampaignRequests();
        ListCampaigns = response.CampaignRequests!;
        if (ListCampaigns is not null)
        {
            Campaigns = ListCampaigns;
        }
    }

    #region OpenCommentModal
    private void OpenCommentModal(int campaignRequestId)
    {
        CampaignRequestId = campaignRequestId;
        var parameters = new DialogParameters
     {
         {"CampaignRequestId", campaignRequestId},
          {"OnCommentAdded", EventCallback.Factory.Create(this, OnCommentAdded)}
     };
        var options = new DialogOptions { MaxWidth = MaxWidth.Medium, CloseButton = true };
        DialogService.Show<Components.AddCommentModal>("Add Comment", parameters, options);
    }
    #endregion

    #region OnCommentAdded
    private async Task OnCommentAdded()
    {
        NavigationManager.NavigateTo("/ops-dashboard", true);
    }
    #endregion

    #region Edit Campaign
    private void EditCampaign(CampaignRequest campaign)
    {
        selectedCampaign = campaign;
        
        NavigationManager.NavigateTo($"/ops/campaigns/edit/{campaign.Id}");
    }
    #endregion

    #region View Comments
    private void ViewComments(int campaignRequestId)
    {
        NavigationManager.NavigateTo($"/comments/{campaignRequestId}");
    }
    #endregion

    #region Activate Campaign Request
    private async Task ActivateCampaignRequest(CampaignRequest campaign)
    {
        _itemLoadingState[campaign.Id] = true;
        StateHasChanged();

        using (var context = await DbContextFactory.CreateDbContextAsync())
        {

            Requester = await context.Users.Where(u => u.Id == campaign.RequesterId).FirstOrDefaultAsync();

            RequestersManager = await context.Users.Where(u => u.Id == Requester.ManagerId.ToString()).FirstOrDefaultAsync();

            if (Requester is not null && RequestersManager is not null)
            {
                RequesterEmail = Requester.Email!;
                RequestersManagersEmail = RequestersManager.Email!;
            };
        }
        try
        {
            campaign.IsActive = true;
            campaign.IsPending = false;

            var result = await Service.ActivateCampaignRequest(campaign);
            if (result.StatusCode == 200)
            {
                var subject = $"OCD Campaign Request Activation for Campaign: {campaign.Description}";

                var body = $@"<p>Dear {campaign.Requester.Name} {campaign.Requester.Surname},</p>
                             <p>Your campaign request ({campaign.Description}) has been activated by {LoggedInUserFullName}.</p>
                             <p>Regards,</p>
                             <p>Ops Team</p>";
                try
                {
                    await EmailService.SendCampaignActivationEmail(subject: subject, message: body, requesterEmailAdrress: RequesterEmail, managerEmailAddress: RequestersManagersEmail);
                    Snackbar.Add("Campaign request activated successfully", Severity.Success);
                }
                catch (Exception emailException)
                {
                    campaign.IsActive = false;
                    campaign.IsPending = true;
                    await Service.ActivateCampaignRequest(campaign);
                    // TODO: Log error

                    Snackbar.Add($"Failed to activate campaign request. please try again later", Severity.Error);
                }
            }
            else
            {
                Snackbar.Add("Failed to activate campaign request. Please try again later.", Severity.Error);
            }
        }
        catch (Exception dbException)
        {
            // TODO: Log error
            Snackbar.Add($"Failed to activate campaign request. Please try again later.", Severity.Error);
        }
        finally
        {
            _itemLoadingState[campaign.Id] = false;
            StateHasChanged();
        }
    }
    #endregion
}


