@page
@model RegisterModel
@{
    <div class="d-flex align-items-center justify-content-center min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                    <div class="card shadow-2-strong" style="background-color:#f5f7fa; padding: 2rem 1rem;">
                        <div class="card-body">
                            <form id="request-access" method="post">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @Html.AntiForgeryToken()

                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Name" class="form-control form-control-sm" placeholder="Name" required/>
                                    <label asp-for="Input.Name">Name</label>
                                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Surname" class="form-control form-control-sm" placeholder="Surname" required/>
                                    <label asp-for="Input.Surname">Surname</label>
                                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input asp-for="Input.EmployeeNumber" class="form-control form-control-sm" placeholder="Employee Number" required/>
                                    <label asp-for="Input.EmployeeNumber">Employee Number</label>
                                    <span asp-validation-for="Input.EmployeeNumber" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input asp-for="Input.MobileNumber" class="form-control form-control-sm" placeholder="Mobile Number" required>
                                    <label asp-for="Input.MobileNumber">Mobile Number</label>
                                    <span asp-validation-for="Input.MobileNumber" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control form-control-sm" autocomplete="username" placeholder="Email Address" required/>
                                    <label asp-for="Input.Email">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control form-control-sm" autocomplete="new-password" type="password" placeholder="Password" required/>
                                    <label asp-for="Input.Password">Password</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                                <div class="form-floating mb-3">
                                    <input asp-for="Input.ConfirmPassword" class="form-control form-control-sm" autocomplete="new-password" type="password" placeholder="Confirm Password" required/>
                                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Role</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="Input.SelectedRole" value="Requester" id="requester" onchange="toggleManagerDropdown()" />
                                        <label class="form-check-label" for="requester">Requester</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="Input.SelectedRole" value="Ops" id="ops" onchange="toggleManagerDropdown()" />
                                        <label class="form-check-label" for="ops">Ops</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="Input.SelectedRole" value="Viewer" id="viewer" onchange="toggleManagerDropdown()" />
                                        <label class="form-check-label" for="viewer">Viewer</label>
                                    </div>
                                </div>

                                <div id="managerDropdown" class="form-floating mb-3" style="display: none;">
                                    <select asp-for="Input.ManagerId" class="form-select form-select-sm">
                                        <option selected disabled>Select Manager</option>

                                        @if (Model.Managers != null && Model.Managers.Any())
                                        {
                                            @foreach (var manager in Model.Managers)
                                            {
                                                <option value="@manager.Id">@manager.Name @manager.Surname</option>
                                            }
                                        }
                                        else
                                        {
                                            <option disabled>No managers available</option>
                                        }
                                    </select>
                                    <label for="Input.ManagerId">Manager</label>
                                </div>
                                <div id="managerYesNo"  class="mb-3">
                                    <label class="form-label">Are you a Manager?</label>
                                    <div  class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="Input.IsManager" value="true" id="isManagerYes" />
                                        <label class="form-check-label" for="isManagerYes">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" asp-for="Input.IsManager" value="false" id="isManagerNo" />
                                        <label class="form-check-label" for="isManagerNo">No</label>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <button id="login-submit" type="submit" class="w-100 btn btn-primary btn-sm" style="background:#f48121; color:white">Request Access</button>
                                </div>
                                <div class="text-center">Already have an account? <a href="/identity/account/login">Login</a></div>
                                <div id="success-message" class="alert alert-success" style="display:none;" role="alert"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleManagerDropdown() {
            var requesterRadio = document.getElementById('requester');
            var opsRadio = document.getElementById('ops');
            var managerDropdown = document.getElementById('managerDropdown');

            if (requesterRadio.checked || opsRadio.checked) {
                managerDropdown.style.display = 'block';
                managerYesNo.style.display = 'none'
            } else {
                managerDropdown.style.display = 'none';
                managerYesNo.style.display = 'block'
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#request-access').submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Page("Register")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            $('#success-message').text(response.message).show();
                            setTimeout(function () {
                                window.location.href = response.redirectUrl;
                            }, 3000); // 3 seconds delay before redirect
                        } else {
                            $('#success-message').text(response.message).show().removeClass('alert-success').addClass('alert-danger');
                        }
                    },
                    error: function () {
                        $('#success-message').text('An unexpected error occurred.').show().removeClass('alert-success').addClass('alert-danger');
                    }
                });
            });
        });
    </script>

}
