@page "/user-management"
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Internal
@using OCD.Components
@using OCD.Data
@using OCD.Services
@inject IDbContextFactory<DataContext> DbContextFactory
<AuthorizeView Roles="Superuser">
    <Authorized>

        <MudTabs ApplyEffectsToContainer="true" @bind-ActivePanelIndex="activeIndex">
            <MudTabPanel Text="User Requests" Icon="@Icons.Material.Filled.People">
                <div class="chip-container mb-3 mt-3">
                    <MudChipSet T="Color">

                        <MudChip Color="Color.Warning" Variant="Variant.Filled">@CurrentUserAccessRequests Total User Access Requests</MudChip>

                    </MudChipSet>
                </div>

                <MudDataGrid Class="shadow-md rounded-lg  border grid mt-7"
                             Items="@PendingUsers"
                             Hover="true"
                             Striped="true"
                             FixedHeader="true"
                             Height="65vh"
                             RowsPerPage="10"
                             Style="background-color:white; ">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">User Access Requests</MudText>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x=>x.User.Name" Title="Name" CellStyle=" white-space: nowrap" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x=>x.User.Surname" Title="Surname" CellStyle=" white-space: nowrap" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x=>x.User.EmployeeNumber" Title="Employee Number" CellStyle=" white-space: nowrap" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x=>x.Role" Title="Role" CellStyle=" white-space: nowrap" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x => x.User.Email" Title="Email Address" CellStyle=" white-space: nowrap" HeaderStyle="white-space:nowrap" />

                        <TemplateColumn Title="Status">
                            <CellTemplate Context="_context">
                                @if (_context.Item.User.IsActive == true)
                                {
                                    <MudChip Color="Color.Success" Variant="Variant.Filled">Active</MudChip>
                                }
                                else
                                {
                                    <MudChip Color="Color.Error" Variant="Variant.Filled">Not Active</MudChip>
                                }
                            </CellTemplate>
                        </TemplateColumn>
                        <TemplateColumn Title="Actions" CellClass=" justify-end">
                            <CellTemplate Context="_context">
                                <MudStack Row="true" Spacing="2">
                                    <MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="@Variant.Filled" Color="@Color.Secondary" Size="@Size.Small" OnClick="() => OpenEditDialog(_context.Item.User)">Confirm Role</MudButton>
                                    <MudButton StartIcon="@Icons.Material.Filled.NotStarted" Variant="@Variant.Filled" Color="@Color.Primary" Size="@Size.Small" OnClick="@(async () => await ActivateAccount(_context.Item.User))">Activate Account</MudButton>
                                    @if (_context.Item.IsActivating)
                                    {
                                        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
                                    }
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager />
                    </PagerContent>
                </MudDataGrid>
            </MudTabPanel>
            <MudTabPanel Text="Manage Users" Icon="@Icons.Material.Filled.ManageAccounts">
                <MudDataGrid Class="shadow-md rounded-lg border grid mt-7"
                             Items="@AllUsers"
                             Hover="true"
                             Striped="true"
                             FixedHeader="true"
                             Height="65vh"
                             RowsPerPage="10"
                             Style="background-color:white;"
                             QuickFilter="_quickFilter">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">All Users</MudText>
                        <MudSpacer />
                        <div class="col-md-4">
                            <MudTextField @bind-Value="searchByNameSurname"
                                          Placeholder="Search by Name or Surname"
                                          Adornment="Adornment.Start"
                                          Immediate="true"
                                          AdornmentIcon="@Icons.Material.Filled.Search"
                                          IconSize="Size.Medium" Class="mt-2" />
                        </div>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x => x.Name" Title="Name" CellStyle=" white-space: nowrap" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x => x.Surname" Title="Surname" CellStyle=" white-space: nowrap" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x => x.EmployeeNumber" Title="Employee Number" CellStyle=" white-space: nowrap" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x => x.Email" Title="Email Address" CellStyle=" white-space: nowrap" HeaderStyle="white-space:nowrap" />
                        <TemplateColumn>
                            <CellTemplate Context="_context">
                                @if (_context.Item.IsManager == true)
                                {
                                    <MudChip Color="Color.Success" Variant="Variant.Filled">Manager</MudChip>
                                }
                                else
                                {
                                    <MudChip Color="Color.Error" Variant="Variant.Filled">Not a Manager</MudChip>
                                }
                            </CellTemplate>
                        </TemplateColumn>
                        <TemplateColumn Title="Manager">
                            <CellTemplate Context="_context">
                                @if (_context.Item.ManagerId != null)
                                {
                                    var manager = Managers.FirstOrDefault(x => x.Id == _context.Item.ManagerId.ToString());
                                    <MudChip Color="Color.Success" Variant="Variant.Filled">@manager?.Name @manager?.Surname</MudChip>
                                }
                                else
                                {
                                    <MudChip Color="Color.Error" Variant="Variant.Filled">No Manager Assigned</MudChip>
                                }
                            </CellTemplate>
                        </TemplateColumn>
                        <TemplateColumn Title="Actions" CellClass="justify-end">
                            <CellTemplate Context="_context">
                                <MudButton StartIcon="@Icons.Material.Filled.PersonAdd" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" OnClick="() => OpenAssignManagerDialog(_context.Item)">Set Manager</MudButton>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager />
                    </PagerContent>
                </MudDataGrid>
            </MudTabPanel>
        </MudTabs>

    </Authorized>
    <NotAuthorized>
        <MudAlert Severity="Severity.Error">You are not authorized to view this page.</MudAlert>
    </NotAuthorized>
</AuthorizeView>
@code {
    [Inject]
    private UserManager<ApplicationUser> UserManager { get; set; } = default!;
    [Inject]
    private RoleManager<IdentityRole> RoleManager { get; set; } = default!;
    [Inject]
    private ISnackbar Snackbar { get; set; } = default!;
    [Inject]
    private IDialogService DialogService { get; set; } = default!;
    [Inject]
    private IUserService UserService { get; set; } = default!;
    [Inject]
    private IEmailService EmailService { get; set; } = default!;

    private IEnumerable<UserWithRole> PendingUsers { get; set; } = default!;
    private int CurrentUserAccessRequests { get; set; }
    private int activeIndex;
    private string searchString = string.Empty;
    private bool IsProcessing = false;
    private IEnumerable<ApplicationUser> AllUsers { get; set; } = [];
    private IEnumerable<ApplicationUser> Managers { get; set; } = [];
    private ApplicationUser SelectedManager { get; set; } = default!;
    private string searchByNameSurname = string.Empty;
    private Dictionary<string, string?> UserManagerSelections = new Dictionary<string, string?>();

    protected override async Task OnInitializedAsync()
    {
        using (var context = await DbContextFactory.CreateDbContextAsync())
        {

            var users = await context.Users.Where(x => x.IsActive == false).AsNoTracking().ToListAsync();
            AllUsers = await context.Users.AsNoTracking().ToListAsync();
            Managers = AllUsers.Where(x => x.IsManager == true).ToList();
            var usersWithRoles = new List<UserWithRole>();

            foreach (var user in users)
            {
                var roles = await UserManager.GetRolesAsync(user);
                var roleName = roles.FirstOrDefault() ?? string.Empty;
                usersWithRoles.Add(new UserWithRole
                    {
                        User = user,
                        Role = roleName
                    });
            }

            PendingUsers = usersWithRoles;
            CurrentUserAccessRequests = PendingUsers.Count();
        };

    }
    private async Task ActivateAccount(ApplicationUser user)

    {
        var userWithRole = PendingUsers.FirstOrDefault(u => u.User.Id == user.Id);
        if (userWithRole != null)
        {
            userWithRole.IsActivating = true;
            StateHasChanged();
        }
        user.IsActive = true;
        var context = await DbContextFactory.CreateDbContextAsync();
        context.Users.Update(user);
        var result = await context.SaveChangesAsync();

        var subject = $"OCD Account Activation for {user.Name} {user.Surname}";
        var body = $"Dear {user.Name} {user.Surname}, your account has been activated. You can now login to the OCD system.";
        if (result == 1)
        {
            //  await EmailService.SendTestEmail(subject, body);
            await RefreshUsers();

            Snackbar.Add($"{user.Name} {user.Surname} has been successfully granted access. A confirmation email has been sent to the user", Severity.Success);
        }
        if (userWithRole != null)
        {
            userWithRole.IsActivating = false;
            StateHasChanged();
        }
    }
    private async void OpenEditDialog(ApplicationUser user)
    {
        var parameters = new DialogParameters { ["User"] = user };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium };
        var dialog = DialogService.Show<EditRoleDialog>("Edit User Role", parameters, options);
        var result = await dialog.Result;
        if (result!.Canceled != true)
        {
            await RefreshUsers();
        }

    }
    private async void OpenAssignManagerDialog(ApplicationUser user)
    {
        var parameters = new DialogParameters { ["UserToUpdate"] = user };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium };
        var dialog = DialogService.Show<AssignManagerDialog>("Assign Manager", parameters, options);
        var result = await dialog.Result;
        if (result!.Canceled != true)
        {
            await RefreshAllUsers();
        }
    }
    private class UserWithRole
    {
        public ApplicationUser User { get; set; } = default!;
        public string Role { get; set; } = string.Empty;
        public bool IsActivating { get; set; } = false;
    }
    private async Task RefreshUsers()
    {
        using var context = await DbContextFactory.CreateDbContextAsync();
        var users = await context.Users.Where(x => x.IsActive == false).AsNoTracking().ToListAsync();
        var usersWithRoles = new List<UserWithRole>();

        foreach (var user in users)
        {
            var roles = await UserManager.GetRolesAsync(user);
            var roleName = roles.FirstOrDefault() ?? string.Empty;
            usersWithRoles.Add(new UserWithRole
                {
                    User = user,
                    Role = roleName
                });
        }

        PendingUsers = usersWithRoles;
        CurrentUserAccessRequests = PendingUsers.Count();
        StateHasChanged();
    }
    private async Task RefreshAllUsers()
    {
        using var context = await DbContextFactory.CreateDbContextAsync();
        AllUsers = await context.Users.AsNoTracking().ToListAsync();
        StateHasChanged();
    }
    private Func<ApplicationUser, bool> _quickFilter => x =>
       {
           if (string.IsNullOrWhiteSpace(searchByNameSurname))
           {
               return true;
           }
           var fullName = $"{x.Name} {x.Surname}";
           bool isMatch = !string.IsNullOrEmpty(fullName) && fullName.Contains(searchByNameSurname, StringComparison.OrdinalIgnoreCase);

           return isMatch;
       };
}
