@page "/add-campaign/one-pack-request"
@using Microsoft.EntityFrameworkCore
@using OCD.DTOs
@using OCD.Data
@using OCD.Models
@inject IDbContextFactory<DataContext> DbContextFactory
@inject ISnackbar Snackbar
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView Roles="Requester">
    <Authorized>
      
        @* <div class="form-container"> *@
            <MudForm @ref="form1" OnValidSubmit="OnValidSubmit">
                <MudCard Class="d-flex align-items-center justify-content-center min-vh-100">
                    <MudCardContent Class="container mt-5">
                        <MudText Typo="Typo.h6">Campaign Request</MudText>

                        <!-- Campaign Information Section -->
                    <MudExpansionPanels MultiExpansion="true" Outlined="true" Elevation="5">
                            <MudExpansionPanel Text="Campaign Information" Expanded="true">
                            <div class="mb-3">
                                <MudTextField  Label="SysAid Log" @bind-Value="parentCampaignRequest.SysAidLog" Required="true" RequiredError="Please enter a SysAid Log" Variant="Variant.Outlined" />
                                <MudText>
                                    No SysAid?
                                    <MudLink Href="https://sysaidsvr1.isservices.co.za/servicePortal" Target="_blank" Class="text-blue-500 underline">
                                        Click here
                                    </MudLink>
                                </MudText>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                    <MudSelect AnchorOrigin="Origin.BottomCenter" T="int" Label="Communication Type" @bind-Value="parentCampaignRequest.CommunicationTypeId"
                                    Required="true" RequiredError="Please select a communication type" Variant="Variant.Outlined"
                                    >
                                    @foreach (var communicationType in communicationTypes)
                                    {
                                        <MudSelectItem Value="@communicationType.Id">@communicationType.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                <div class="form-group col-md-4">
                                    <MudSelect T="int" AnchorOrigin="Origin.BottomCenter" Label="Business Unit" @bind-Value="parentCampaignRequest.BusinessUnitId" Required="true" RequiredError="Please select a business unit" Variant="Variant.Outlined">
                                    @foreach (var businessUnit in businessUnits)
                                    {
                                        <MudSelectItem Value="@businessUnit.Id">@businessUnit.UnitName</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                <div class="form-group col-md-4">
                                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Label="Brand" @bind-Value="parentCampaignRequest.CampaignRequestBrands" Required="true" RequiredError="Please select a brand" Variant="Variant.Outlined">
                                    @foreach (var brand in brands)
                                    {
                                        <MudSelectItem Value="@brand.Name">@brand.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>

                            </div>
                                <MudTextField @bind-Value="parentCampaignRequest.Description" Label="Campaign Name" Required="true" RequiredError="Please fill in the name of your campaign" Variant="Variant.Outlined" />
                            </MudExpansionPanel>

                            <!-- Contact Information Section -->
                        <MudExpansionPanel Text="Contact Information" >
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                <MudTextField @bind-Value="parentCampaignRequest.SmsNumber" Label="ShortCode Number" Disabled="true" Variant="Variant.Outlined" />
                                </div>
                                <div class="form-group col-md-4">
                                <MudTextField @bind-Value="parentCampaignRequest.SharecallNumber" Label="ShareCall Number" Disabled="true" Variant="Variant.Outlined" />
                                </div>
                                <div class="form-group col-md-4">
                                <MudTextField @bind-Value="parentCampaignRequest.TrackingCode" Label="VDN/Tracking Code" Disabled="true" Variant="Variant.Outlined" />
                                </div>
                                </div>
                            </MudExpansionPanel>

                            <!-- Broker and Campaign Details Section -->
                            <MudExpansionPanel Text="Broker and Dialler Details">
                                <div class="form-row">
                                     <div class="form-group col-md-4">
                                    <MudSelect AnchorOrigin="Origin.BottomCenter" T="string" Label="Broker Code" @bind-Value="parentCampaignRequest.CampaignBrokerCodes" Required="true" RequiredError="Please select a broker code" Variant="Variant.Outlined">
                                    @foreach (var brokerCode in brokerCodes)
                                    {
                                        <MudSelectItem Value="@brokerCode.Code">@brokerCode.Code</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                <div class="form-group col-md-4">
                                    <MudSelect AnchorOrigin="Origin.BottomCenter" T="int" Label="Connex Dialler Campaign" @bind-Value="parentCampaignRequest.ConnexDiallerCampaignId"
                                               Required="true" RequiredError="Please select a dialler campaign" Variant="Variant.Outlined"
                                               SelectedValuesChanged="@(EventCallback.Factory.Create<IEnumerable<int>>(this, OnConnexDiallerCampaignChanged))">
                                        @foreach (var campaign in connexDiallerCampaigns)
                                        {
                                            <MudSelectItem T="int" Value="campaign.Id">@campaign.Name</MudSelectItem>
                                        }
                                    </MudSelect>
                                </div>
                                <div class="form-group col-md-4">
                                    <MudSelect AnchorOrigin="Origin.BottomCenter" T="int" Label="Connex Dialler Source" @bind-Value="parentCampaignRequest.ConnexDiallerSourceId" Required="true" RequiredError="Please select a dialler source" Variant="Variant.Outlined">
                                    @foreach (var source in connexDiallerSources)
                                    {
                                        <MudSelectItem T="int" Value="source.Id">@source.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                </div>
                            </MudExpansionPanel>

                            <!-- Channel and Source Details Section -->
                            <MudExpansionPanel Text="Channel and Source Details">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                <MudSelect  AnchorOrigin="Origin.BottomCenter" T="int" Label="Channel" @bind-Value="parentCampaignRequest.ChannelId" Required="true" RequiredError="Please select a channel" Variant="Variant.Outlined">
                                    @foreach (var channel in channels)
                                    {
                                        <MudSelectItem Value="@channel.Id">@channel.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                <div class="form-group col-md-4">
                                    <MudSelect AnchorOrigin="Origin.BottomCenter" T="int" Label="Source" @bind-Value="parentCampaignRequest.SourceId" Required="true" RequiredError="Please select a source" Variant="Variant.Outlined">
                                    @foreach (var source in sources)
                                    {
                                        <MudSelectItem Value="@source.Id">@source.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                <div class="form-group col-md-4">
                                    <MudSelect AnchorOrigin="Origin.BottomCenter" T="int" Label="Source Break" @bind-Value="parentCampaignRequest.SourceBreakId" Required="true" RequiredError="Please select a source break" Variant="Variant.Outlined">
                                    @foreach (var sourceBreak in sourceBreaks)
                                    {
                                        <MudSelectItem Value="@sourceBreak.Id">@sourceBreak.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                </div>
                            </MudExpansionPanel>

                            <!-- Media and Publication Details Section -->
                            <MudExpansionPanel Text="Media and Publication Details">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                    <MudSelect AnchorOrigin="Origin.BottomCenter" T="int" Label="Campaign Type" @bind-Value="parentCampaignRequest.CampaignId" Required="true" RequiredError="Please select a campaign type" Variant="Variant.Outlined">
                                    @foreach (var campaign in campaigns)
                                    {
                                        <MudSelectItem Value="@campaign.Id">@campaign.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                <div class="form-group col-md-6">
                                    <MudSelect AnchorOrigin="Origin.BottomCenter" T="int" Label="Media" @bind-Value="parentCampaignRequest.MediaId" Required="true" RequiredError="Please select a media type" Variant="Variant.Outlined">
                                    @foreach (var media in mediaTypes)
                                    {
                                        <MudSelectItem Value="@media.Id">@media.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                <div class="form-group col-md-6">
                                    <MudSelect AnchorOrigin="Origin.BottomCenter" T="int" Label="Publication Owner" @bind-Value="parentCampaignRequest.PublicationOwnerId" Required="true" RequiredError="Please select a publication owner" Variant="Variant.Outlined">
                                    @foreach (var publicationOwner in publicationOwners)
                                    {
                                        <MudSelectItem Value="@publicationOwner.Id">@publicationOwner.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                <div class="form-group col-md-6">
                                    @* <MudAutocomplete T="Publication" Label="Publication" @bind-Value="selectedPublication" SearchFunc="@Search1" ToStringFunc="@(p=>p.Name ?? string.Empty)" /> *@

                                    <MudSelect AnchorOrigin="Origin.BottomCenter" T="int" Label="Publication" @bind-Value="parentCampaignRequest.PublicationId" Required="true" RequiredError="Please select a publication" Variant="Variant.Outlined">
                                    @foreach (var publication in publications)
                                    {
                                        <MudSelectItem Value="@publication.Id">@publication.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                <div class="form-group col-md-6">
                                    <MudSelect AnchorOrigin="Origin.BottomCenter" T="int" Label="Slot" @bind-Value="parentCampaignRequest.SlotId" Required="true" RequiredError="Please select a slot" Variant="Variant.Outlined">
                                    @foreach (var slot in slots)
                                    {
                                        <MudSelectItem Value="@slot.Id">@slot.Name</MudSelectItem>
                                    }
                                </MudSelect>
                                </div>
                                <div class="form-group col-md-6">
                                <MudItem>
                            <MudDateRangePicker PickerVariant="PickerVariant.Dialog" Variant="Variant.Outlined" Label="Select Date Range" @bind-DateRange="DateRangeCR" InputClass="w-full rounded-md border-gray-200 bg-gray-50 border-2" Required="true" />
                        </MudItem>
                        </div>
                                </div>
                            </MudExpansionPanel>
                        </MudExpansionPanels>

                        <!-- Date Range Picker -->
                    <MudCardActions Class="justify-content-center">
                        
                        <MudButton Color="Color.Warning" Variant="Variant.Filled" OnClick="OnSubmit">Request Campaign</MudButton>
                        
                    </MudCardActions>
                    </MudCardContent>

                    
                </MudCard>
            </MudForm>
        @* </div> *@
        

    </Authorized>
    <NotAuthorized>
        <MudAlert Severity="Severity.Error">You are not authorized to view this page.</MudAlert>
    </NotAuthorized>
</AuthorizeView>
@code {
    private Publication selectedPublication;
    private string value1;
    private MudForm form1;
    private CampaignRequestDTO parentCampaignRequest = new();
    private string selectedBrand;
    private string selectedBrokerCode;
    private List<Campaign> campaigns = new();
    private List<PackType> packTypes = new();
    private List<Channel> channels = new();
    private List<Brand> brands = new();
    private List<Media> mediaTypes = new();
    private List<Slot> slots = new();
    private List<Source> sources = new();
    private List<BusinessUnit> businessUnits = new();
    private List<SourceBreak> sourceBreaks = new();
    private List<Publication> publications = new();
    private List<PublicationOwner> publicationOwners = new();
    private ApplicationUser Requester { get; set; }
    private List<CommunicationType> communicationTypes = new();
    private List<ConnexDiallerCampaign> connexDiallerCampaigns = new();
    private List<ConnexDiallerSource> connexDiallerSources = new();
    private List<BrokerCode> brokerCodes = new();
    private DateRange _dateRangeCR;
    private DateRange DateRangeCR
    {
        get => _dateRangeCR;
        set
        {
            if (_dateRangeCR != value)
            {
                _dateRangeCR = value;
                parentCampaignRequest.StartDate = value.Start;
                parentCampaignRequest.EndDate = value.End;
            }
        }
    }
    private async Task<IEnumerable<Publication>> Search1(string value, CancellationToken token)
    {
        if (string.IsNullOrEmpty(value))
            return publications;
        return publications.Where(x => x is not null && x.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        using (var context = await DbContextFactory.CreateDbContextAsync())
        {
            campaigns = await context.Campaigns.AsNoTracking().ToListAsync();
            packTypes = await context.PackTypes.AsNoTracking().ToListAsync();
            channels = await context.Channels.AsNoTracking().ToListAsync();
            brands = await context.Brands.AsNoTracking().ToListAsync();
            mediaTypes = await context.Media.AsNoTracking().ToListAsync();
            slots = await context.Slots.AsNoTracking().ToListAsync();
            sources = await context.Sources.AsNoTracking().ToListAsync();
            businessUnits = await context.BusinessUnits.AsNoTracking().ToListAsync();
            sourceBreaks = await context.SourceBreaks.AsNoTracking().ToListAsync();
            publications = await context.Publications.AsNoTracking().ToListAsync();
            publicationOwners = await context.PublicationOwners.AsNoTracking().ToListAsync();
            communicationTypes = await context.CommunicationTypes.AsNoTracking().ToListAsync();
            connexDiallerCampaigns = await context.ConnexDiallerCampaigns.AsNoTracking().ToListAsync();
            brokerCodes = await context.BrokerCodes.AsNoTracking().ToListAsync();
            Requester = await context.Users.FirstOrDefaultAsync(x => x.Email == user.Identity!.Name) ?? new();

        }
        DateRangeCR = new DateRange(parentCampaignRequest.StartDate, parentCampaignRequest.EndDate);

    }
    private async Task OnConnexDiallerCampaignChanged(IEnumerable<int> selectedValues)
    {
        var selectedDiallerCampaignId = selectedValues.FirstOrDefault();
        using var context = DbContextFactory.CreateDbContext();
        connexDiallerSources = await context.ConnexDiallerSources
            .Where(x => x.ConnexDiallerCampaignId == selectedDiallerCampaignId)
            .AsNoTracking()
            .ToListAsync();

        StateHasChanged();
    }
    private void OnDateRangeChanged(DateRange newDateRange)
    {
        _dateRangeCR = newDateRange;
        parentCampaignRequest.StartDate = newDateRange.Start;
        parentCampaignRequest.EndDate = newDateRange.End;

    }



    private async Task OnSubmit()
    {

        if (form1.IsValid)
        {
            using (var context = await DbContextFactory.CreateDbContextAsync())
            {
                var mainCampaignRequest = new CampaignRequest
                    {
                        SysAidLog = parentCampaignRequest.SysAidLog,
                        Description = parentCampaignRequest.Description,
                        CampaignId = parentCampaignRequest.CampaignId,
                        CommunicationTypeId = parentCampaignRequest.CommunicationTypeId,
                        BusinessUnitId = parentCampaignRequest.BusinessUnitId,
                        CampaignRequestBrands = parentCampaignRequest.CampaignRequestBrands,
                        SmsNumber = null,
                        SharecallNumber = null,
                        ChannelId = parentCampaignRequest.ChannelId,
                        SourceId = parentCampaignRequest.SourceId,
                        SourceBreakId = parentCampaignRequest.SourceBreakId,
                        ConnexDiallerCampaignId = parentCampaignRequest.ConnexDiallerCampaignId,
                        ConnexDiallerSourceId = parentCampaignRequest.ConnexDiallerSourceId,
                        SlotId = parentCampaignRequest.SlotId,
                        MediaId = parentCampaignRequest.MediaId,
                        PublicationOwnerId = parentCampaignRequest.PublicationOwnerId,
                        PublicationId = parentCampaignRequest.PublicationId,
                        CampaignBrokerCodes = parentCampaignRequest.CampaignBrokerCodes,
                        StartDate = parentCampaignRequest.StartDate,
                        EndDate = parentCampaignRequest.EndDate,
                        IsActive = false,
                        IsPending = false,
                        TrackingCode = null,
                        CampaignRequestMainId = null,
                        PackTypeId = 1,
                        RequesterId = Requester.Id, // Get the current logged user's id and add it here
                        ActionedBy = null,
                        ActionedDate = null,
                        RequestedDate = DateTime.Now,
                    };
                context.CampaignRequests.Add(mainCampaignRequest);
                await context.SaveChangesAsync();
                Snackbar.Add("Campaign Request created successfully!", Severity.Success);
                parentCampaignRequest = new();
            }
        }
        else
        {
            Snackbar.Add("Please fill in all required fields.", Severity.Error);
        }
    }
}
