@page "/viewer-dashboard"
@using Microsoft.EntityFrameworkCore
@using OCD.Data
@using OCD.Models
@using OCD.Services.CampaignRequestService
@inherits OwningComponentBase<ICampaignRequestService>
@inject IDbContextFactory<DataContext> DbContextFactory
@inject IDialogService DialogService
@inject AuthenticationStateProvider AuthenticationStateProvider
<AuthorizeView Roles="Viewer">
    <Authorized>

        <div class="chip-container mb-3 mt-3">
            <MudChipSet T="Color">
                <MudChip Color="Color.Primary" Variant="Variant.Filled">@totalCampaignsCount Total</MudChip>
                <MudChip Color="Color.Success" Variant="Variant.Filled">@activeCampaignsCount Active</MudChip>
                <MudChip Color="Color.Secondary" Variant="Variant.Filled">@awaitingTestConfirmationCount Awaiting VDN test/confirmation</MudChip>
                <MudChip Color="Color.Warning" Variant="Variant.Filled">@awaitingActivationCount Awaiting activation</MudChip>
            </MudChipSet>
        </div>
        <MudTabs ApplyEffectsToContainer="true" @bind-ActivePanelIndex="activeIndex" Centered="true">
            <MudTabPanel Text="Campaigns" Icon="@Icons.Material.Filled.ViewList" ToolTip="All campaigns">
                <MudDataGrid Class="shadow-md rounded-lg border grid mt-7"
                             Items="@Campaigns"
                             Hover="true"
                             Striped="true"
                             FixedHeader="true"
                             Height="65vh"
                             RowsPerPage="10"
                             Style="background-color:white;"
                             QuickFilter="@_quickFilter">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">All Campaigns</MudText>
                        <MudSpacer />
                        <div class="col-md-4">
                            <MudTextField @bind-Value="SearchTrackingCode"
                                          Placeholder="Search by VDN/Tracking Code"
                                          Adornment="Adornment.Start"
                                          Immediate="true"
                                          AdornmentIcon="@Icons.Material.Filled.Search"
                                          IconSize="Size.Medium" Class="mt-2" />
                        </div>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x => x.Id" Title="Campaign Id" HeaderStyle="white-space:nowrap" />
                        <TemplateColumn Title="Owner" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap">
                            <CellTemplate Context="_context">
                                <MudStack Row>
                                    <MudText Style="font-size:14px">@_context.Item.Requester.Name @_context.Item.Requester.Surname</MudText>
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="x=>x.RequestedDate.Date.ToShortDateString()" Title="Date Requested" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.Description" Title="Description" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.SysAidLog" Title="SysAid Log" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" Filterable="true" />
                        <PropertyColumn Property="x=> x.TrackingCode" Title="VDN/TC" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Campaign.Name" Title="Campaign Type" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=>x.BusinessUnit.UnitName" Title="Business Unit" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.CampaignRequestBrands" Title="Brand" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.CampaignBrokerCodes" Title="Broker Code" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x=> x.ConnexDiallerCampaign.Name" Title="Dialler Campaign" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.ConnexDiallerSource.Name" Title="Dialler Source" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.CommunicationType.Name" Title="Telecom Type" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SmsNumber" Title="SMS Number" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SharecallNumber" Title="SCN Number" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Media.Name" Title="Media" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Slot.Name" Title="Slot" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SourceBreak.Name" Title="Source Break" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        @* <PropertyColumn Property="x=> x.PackType.Type" Title="Pack" HeaderStyle="white-space:nowrap" /> *@
                        <PropertyColumn Property="x=> x.Publication.Name" Title="Publication" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.PublicationOwner.Name" Title="Publication Owner" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Channel.Name" Title="Channel" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.StartDate!.Value.Date.ToShortDateString()" Title="Start Date" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x => x.EndDate!.Value.Date.ToShortDateString()" Title="End Date" HeaderStyle="white-space:nowrap" />
                        <TemplateColumn CellClass=" justify-end" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap">
                            <CellTemplate Context="_context">
                                <MudStack Row>
                                    <MudButton StartIcon="@Icons.Material.Filled.PlayCircle"
                                               Variant="@Variant.Filled"
                                               Color="Color.Info"
                                               Size="@Size.Small"
                                               OnClick="() => TestVDN(_context.Item.TrackingCode ?? string.Empty)"
                                               Disabled="string.IsNullOrEmpty(_context.Item.TrackingCode) && !_context.Item.IsActive">
                                        Test VDN
                                    </MudButton>
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager />
                    </PagerContent>
                </MudDataGrid>
            </MudTabPanel>
            <MudTabPanel Text="Active Campaigns" Icon="@Icons.Material.Filled.FactCheck">
                <MudDataGrid Class="shadow-md rounded-lg border grid mt-7"
                             Items="@ActiveCampaigns"
                             Hover="true"
                             Striped="true"
                             FixedHeader="true"
                             Height="65vh"
                             RowsPerPage="10"
                             Style="background-color:white;"
                             QuickFilter="@_quickFilter">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Active Campaigns</MudText>
                        <MudSpacer />
                        <div class="col-md-4">
                            <MudTextField @bind-Value="SearchTrackingCode"
                                          Placeholder="Search by VDN/Tracking Code"
                                          Adornment="Adornment.Start"
                                          Immediate="true"
                                          AdornmentIcon="@Icons.Material.Filled.Search"
                                          IconSize="Size.Medium" Class="mt-2" />
                        </div>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x => x.Id" Title="Campaign Id" HeaderStyle="white-space:nowrap" />
                        <TemplateColumn Title="Owner" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap">
                            <CellTemplate Context="_context">
                                <MudStack Row>
                                    <MudText Style="font-size:14px">@_context.Item.Requester.Name @_context.Item.Requester.Surname</MudText>
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="x=>x.RequestedDate.Date.ToShortDateString()" Title="Date Requested" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.Description" Title="Description" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.SysAidLog" Title="SysAid Log" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" Filterable="true" />
                        <PropertyColumn Property="x=> x.TrackingCode" Title="VDN/TC" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Campaign.Name" Title="Campaign Type" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=>x.BusinessUnit.UnitName" Title="Business Unit" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.CampaignRequestBrands" Title="Brand" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.CampaignBrokerCodes" Title="Broker Code" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.ConnexDiallerCampaign.Name" Title="Dialler Campaign" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.ConnexDiallerSource.Name" Title="Dialler Source" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.CommunicationType.Name" Title="Telecom Type" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SmsNumber" Title="SMS Number" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SharecallNumber" Title="SCN Number" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Media.Name" Title="Media" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Slot.Name" Title="Slot" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SourceBreak.Name" Title="Source Break" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        @* <PropertyColumn Property="x=> x.PackType.Type" Title="Pack" HeaderStyle="white-space:nowrap" /> *@
                        <PropertyColumn Property="x=> x.Publication.Name" Title="Publication" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.PublicationOwner.Name" Title="Publication Owner" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Channel.Name" Title="Channel" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />

                        <PropertyColumn Property="x => x.StartDate!.Value.Date.ToShortDateString()" Title="Start Date" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x => x.EndDate!.Value.Date.ToShortDateString()" Title="End Date" HeaderStyle="white-space:nowrap" />
                        <TemplateColumn CellClass=" justify-end" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap">
                            <CellTemplate Context="_context">
                                <MudStack Row>
                                    <MudButton StartIcon="@Icons.Material.Filled.PlayCircle"
                                               Variant="@Variant.Filled"
                                               Color="Color.Info"
                                               Size="@Size.Small"
                                               OnClick="() => TestVDN(_context.Item.TrackingCode ?? string.Empty)"
                                               Disabled="string.IsNullOrEmpty(_context.Item.TrackingCode)">
                                        Test VDN
                                    </MudButton>
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager />
                    </PagerContent>
                </MudDataGrid>
            </MudTabPanel>
            <MudTabPanel Icon="@Icons.Material.Filled.PendingActions" Text="Awaiting Testing" ToolTip="Requests awaiting testing and confirmation of working VDN">
                <MudDataGrid Class="shadow-md rounded-lg border grid mt-7"
                             Items="@AwaitingTestConfirmation"
                             Hover="true"
                             Striped="true"
                             FixedHeader="true"
                             Height="65vh"
                             RowsPerPage="10"
                             Style="background-color:white;"
                             QuickFilter="@_quickFilter">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Awaiting Testing & Confirmation</MudText>
                        <MudSpacer />
                        <div class="col-md-4">
                            <MudTextField @bind-Value="SearchTrackingCode"
                                          Placeholder="Search by VDN/Tracking Code"
                                          Adornment="Adornment.Start"
                                          Immediate="true"
                                          AdornmentIcon="@Icons.Material.Filled.Search"
                                          IconSize="Size.Medium" Class="mt-2" />
                        </div>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x => x.Id" Title="Campaign Id" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <TemplateColumn Title="Owner" HeaderStyle="white-space:nowrap">
                            <CellTemplate Context="_context">
                                <MudStack Row>
                                    <MudText Style="font-size:14px">@_context.Item.Requester.Name @_context.Item.Requester.Surname</MudText>
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="x=>x.RequestedDate.Date.ToShortDateString()" Title="Date Requested" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.Description" Title="Description" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.SysAidLog" Title="SysAid Log" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" Filterable="true" />
                        <PropertyColumn Property="x=> x.TrackingCode" Title="VDN/TC" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Campaign.Name" Title="Campaign Type" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=>x.BusinessUnit.UnitName" Title="Business Unit" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.CampaignRequestBrands" Title="Brand" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.CampaignBrokerCodes" Title="Broker Code" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.ConnexDiallerCampaign.Name" Title="Dialler Campaign" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.ConnexDiallerSource.Name" Title="Dialler Source" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.CommunicationType.Name" Title="Telecom Type" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SmsNumber" Title="SMS Number" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SharecallNumber" Title="SCN Number" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Media.Name" Title="Media" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Slot.Name" Title="Slot" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SourceBreak.Name" Title="Source Break" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        @* <PropertyColumn Property="x=> x.PackType.Type" Title="Pack" HeaderStyle="white-space:nowrap" /> *@
                        <PropertyColumn Property="x=> x.Publication.Name" Title="Publication" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.PublicationOwner.Name" Title="Publication Owner" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Channel.Name" Title="Channel" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />

                        <PropertyColumn Property="x => x.StartDate!.Value.Date.ToShortDateString()" Title="Start Date" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x => x.EndDate!.Value.Date.ToShortDateString()" Title="End Date" HeaderStyle="white-space:nowrap" />
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager />
                    </PagerContent>
                </MudDataGrid>
            </MudTabPanel>
            <MudTabPanel Icon="@Icons.Material.Filled.Pending" Text="Awaiting Activation" ToolTip="Requests awaiting activation">
                <MudDataGrid Class="shadow-md rounded-lg border grid mt-7"
                             Items="@AwaitingActivation"
                             HorizontalScrollbar="true"
                             Hover="true"
                             Striped="true"
                             FixedHeader="true"
                             Height="65vh"
                             RowsPerPage="10"
                             Style="background-color:white;"
                             QuickFilter="@_quickFilter">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6">Awaiting Activation</MudText>
                        <MudSpacer />
                        <div class="col-md-4">
                            <MudTextField @bind-Value="SearchTrackingCode"
                                          Placeholder="Search by VDN/Tracking Code"
                                          Adornment="Adornment.Start"
                                          Immediate="true"
                                          AdornmentIcon="@Icons.Material.Filled.Search"
                                          IconSize="Size.Medium" Class="mt-2" />
                        </div>
                    </ToolBarContent>
                    <Columns>
                        <PropertyColumn Property="x => x.Id" Title="Campaign Id" HeaderStyle="white-space:nowrap" />
                        <TemplateColumn Title="Owner" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap">
                            <CellTemplate Context="_context">
                                <MudStack Row>
                                    <MudText Style="font-size:14px">@_context.Item.Requester.Name @_context.Item.Requester.Surname</MudText>
                                </MudStack>
                            </CellTemplate>
                        </TemplateColumn>
                        <PropertyColumn Property="x=>x.RequestedDate.Date.ToShortDateString()" Title="Date Requested" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.Description" Title="Description" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.SysAidLog" Title="SysAid Log" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" Filterable="true" />
                        <PropertyColumn Property="x=> x.TrackingCode" Title="VDN/TC" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Campaign.Name" Title="Campaign Type" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=>x.BusinessUnit.UnitName" Title="Business Unit" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.CampaignRequestBrands" Title="Brand" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.CampaignBrokerCodes" Title="Broker Code" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.ConnexDiallerCampaign.Name" Title="Dialler Campaign" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.ConnexDiallerSource.Name" Title="Dialler Source" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.CommunicationType.Name" Title="Telecom Type" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SmsNumber" Title="SMS Number" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SharecallNumber" Title="SCN Number" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Media.Name" Title="Media" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Slot.Name" Title="Slot" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.SourceBreak.Name" Title="Source Break" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        @* <PropertyColumn Property="x=> x.PackType.Type" Title="Pack" HeaderStyle="white-space:nowrap" /> *@
                        <PropertyColumn Property="x=> x.Publication.Name" Title="Publication" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.PublicationOwner.Name" Title="Publication Owner" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x=> x.Channel.Name" Title="Channel" HeaderStyle="white-space:nowrap" CellStyle=" white-space: nowrap" />
                        <PropertyColumn Property="x => x.StartDate!.Value.Date.ToShortDateString()" Title="Start Date" HeaderStyle="white-space:nowrap" />
                        <PropertyColumn Property="x => x.EndDate!.Value.Date.ToShortDateString()" Title="End Date" HeaderStyle="white-space:nowrap" />
                    </Columns>
                    <PagerContent>
                        <MudDataGridPager />
                    </PagerContent>
                </MudDataGrid>
            </MudTabPanel>
        </MudTabs>

    </Authorized>
    <NotAuthorized>
        <MudAlert Severity="Severity.Error">You are not authorized to view this page.</MudAlert>
    </NotAuthorized>
</AuthorizeView>

@code {
    private int activeIndex;
    private string searchString = string.Empty;
    private string SearchTrackingCode { get; set; } = string.Empty;
    private int awaitingActivationCount;
    private int awaitingTestConfirmationCount;
    private int totalCampaignsCount;
    private int activeCampaignsCount;
    private int inactiveCampaignsCount;
    private int pendingCampaignsCount;
    private string Vdn = string.Empty;
    [Inject]
    private NavigationManager NavigationManager { get; set; }
    private IEnumerable<CampaignRequest> ListCampaigns { get; set; }
    private IEnumerable<CampaignRequest> ActiveCampaigns { get; set; }
    private IEnumerable<CampaignRequest> InActiveCampaigns { get; set; }
    private IEnumerable<CampaignRequest> PendingCampaigns { get; set; }
    private IEnumerable<CampaignRequest> Campaigns { get; set; }
    private IEnumerable<CampaignRequest> AwaitingTestConfirmation { get; set; } = [];
    private IEnumerable<CampaignRequest> AwaitingActivation { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {

        var response = await Service.GetCampaignRequestsAsync();
        ListCampaigns = response.CampaignRequests!;

        if (ListCampaigns is not null)
        {
            ActiveCampaigns = ListCampaigns.Where(c => c.IsActive == true).ToList();
            InActiveCampaigns = ListCampaigns.Where(c => c.IsActive == false).ToList();
            PendingCampaigns = ListCampaigns.Where(c => c.IsPending == true).ToList();
            totalCampaignsCount = ListCampaigns.Count();
            activeCampaignsCount = ActiveCampaigns.Count();
            inactiveCampaignsCount = ListCampaigns.Where(c => c.IsActive == false).Count();
            pendingCampaignsCount = ListCampaigns.Where(c => c.IsPending == true).Count();
            Campaigns = ListCampaigns;
            AwaitingTestConfirmation = Campaigns.Where(c => c.IsConfirmedByRequester == false && (c.TrackingCode is not null || c.SmsNumber is not null || c.SharecallNumber is not null)).ToList();
            AwaitingActivation = Campaigns.Where(c => c.IsActive == false && c.IsPending == false && c.IsConfirmedByRequester == true).ToList();
            awaitingActivationCount = AwaitingActivation.Count();
            awaitingTestConfirmationCount = AwaitingTestConfirmation.Count();
        }
    }
    private Func<CampaignRequest, bool> _quickFilter => x =>
       {
           if (string.IsNullOrWhiteSpace(SearchTrackingCode))
           {
               return true;
           }
           bool isMatch = !string.IsNullOrEmpty(x.TrackingCode) && x.TrackingCode.Contains(SearchTrackingCode, StringComparison.OrdinalIgnoreCase);

           bool isRelated = x.CampaignRequestMainId is not null && Campaigns.Any(main => main.Id == x.CampaignRequestMainId &&
       !string.IsNullOrEmpty(main.TrackingCode) && main.TrackingCode.Contains(SearchTrackingCode, StringComparison.OrdinalIgnoreCase));

           return isMatch || isRelated;
       };

    private async Task TestVDN(string vdn)
    {
        var options = new DialogOptions()
            {
                MaxWidth = MaxWidth.Small,
                FullWidth = true,
                CloseButton = true,
            };
        Vdn = vdn;
        var parameters = new DialogParameters
        {
            { "Vdn", vdn },

        };
        DialogService.Show<Components.TestVDN>("Test VDN", parameters, options);
    }
}
